body{ 
    margin: 0%; 
    background-color: #5E17EB; 


}


li{ 

    list-style: none;

}  

nav{ 

    background-color: rgb(255, 0, 0); 
    padding: 0 20px;
    justify-content: space-between; 
    font-size: 20px;
    position: relative ; 
    top: -20px;  
    left: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
} 

    h1,a { 
        color: white;
    }


h1,ul { 
    display: flex; 
    flex-direction: row;
} 

a{ 
    padding: 20px;
    position: relative ; 
    left: 830px ; 
    top: 90px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration:none;
    
} 

a:hover{ 
    cursor: pointer;
    opacity: 0.6;
    background-color:#5E17EB; 
    font-size: 15px; 
    
}

h1{

    font-size: 50px;
    position:relative; 
    top: -5px; 
    left: -16px;

}  

img{ 

    width: 339px;
    position: absolute; 
    left: 100px;
    top: 200px; 
    border: 9px solid rgb(0, 0, 0);

}  

.quadrado{ 

    width: 600px;
    position: absolute; 
    left: 460px;

} 

.quadrado2{ 
    
    width: 1100px;
    position: absolute; 
    top: 1000px;
    left: 160px; 
    height: 400px;

    

}  

.quadrado3{ 
    
    width: 1100px;
    position: absolute; 
    top: 870px;
    left: 158px; 
    height: 100px;

    

} 





.linharoxa{ 
    width: 600px; 
    height: 8px;
    position: absolute; 
    left: 460px;  
   

}  

.linharoxa2{ 
    width: 600px; 
    height: 8px;
    position: absolute; 
    left: 460px; 
    top: 690px;  
    
    

} 

.linharoxa3{ 
    width: 600px; 
    height: 8px;
    position: absolute; 
    left: 360px; 
    top: 980px;  
    

} 


.part1{ 

    position: relative; 
    left: 600px; 
    top: 200px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}  

.texto{ 
    
    font-size: 10px;
}


#texto{  

    font-size: 15px;
    text-align: center;
    position: relative; 
    left: 500px; 
    top: 200px; 
    max-width: 530px;
    
}


#texto2{ 

    position: absolute; 
    left: 200px;
    top: 860px; 
    font-size: 55px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
    
} 

#texto3{ 

    position: absolute; 
    left: 600px;
    top: 1060px; 
    font-size: 25px; 
    max-width: 1000px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.imagem1{ 

    position: absolute; 
    top: 1040px; 
    left: 210px;
    border: 9px solid #5E17EB;
} 

nav ul{ 

    position: fixed; 
    top: -20px;
    list-style: none; 
    display: flex;
    gap: 2rem; 
    background-color: black; 
    width: 1500px;  
    height: 150px;

    left: 0;
   
}  

#Projeto{  
    position: absolute; 
    left: 200px;
    top: 886px; 
    font-size: 65px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; 
    color: white;

} 

section{ 
    min-height: 80vh;
    
} 

html{ 
    scroll-behavior: smooth;
} 

#menu{ 
    position: absolute; 
    top: 1px;
} 

.quadrado4{ 
    width: 320px;
    position: absolute; 
    top: 560px;
    left: 110px; 
    height: 50px;

} 

#nome{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: absolute; 
    top: 560px; 
    left: 120px;

}



